<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include('partials/head.html') %>
</head>

<body>
    
    <%- include('partials/navigation.html') %>
    
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center pt-5 pb-5 mt-5 mb-5">
                <img src="/img/azure-lane.png" class="animate__animated animate__bounceIn" alt="Logo Azure Lane">
            </div>
        </header>
    </div>

<!--  Section one -->

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Azure Lane Game</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste hic quas distinctio sint nam sit magnam reiciendis voluptatem voluptatibus harum, quos id fugiat unde debitis rerum? A, porro ab.</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html')%>

</body>

</html>